main {
    min-height: calc(100vh - 56px);
    width: 100%;
    background-color: #121212;
}
footer {
    width: 100%;
    background-color: #1F1F1F;
    color: white;
}
.navbar {
    background-color: #1F1F1F;
}
#logo {
    max-width: 50px;
    max-height: 50px;
}
.navbar-brand {
    position: relative;
    top: 1px;
}
.btnDisabled {
    color: rgb(123, 123, 123) !important;
    background-color: rgb(46, 46, 46) !important;
    opacity: 1 !important;
}
.txtRoxoPrimario {
    color: #BB86FC !important;
}
.bgRoxoPrimario {
    background-color: #BB86FC !important;
}
.txtRoxoSecundario {
    color: #3700B3 !important;
}
.txtCorSecundaria {
    color: #03DAC6 !important;
}
.bgCorSecundaria {
    background-color: #03DAC6 !important;
}
.txtErro {
    color: #CF6679 !important;
}
#uploadInput {
    color: rgb(148, 148, 148);
}
#uploadInput::-webkit-file-upload-button {
    color: black;
    display: inline-block;
    background: #BB86FC;
    border: none;
    padding: 7px 15px;
    border-radius: 3px;
    white-space: nowrap;
    cursor: pointer;
    border: none !important;
    margin-bottom: 7px;
  }
#lblSelecione {
    color: rgb(148, 148, 148);
}
.painelFundo {
    width: 100%;
    height: calc(100vh - 56px);
    background: url('/static/img/fundo.png'); 
    background-position-x: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 600px;
}
#titulo {
    font-family: 'Century Gothic', sans-serif;
    font-size: 8vw;
}
#subtitulo {
    font-family: 'Century Gothic', sans-serif;
    font-size: 3.5vw;
}
#containerBotoes {
    height: calc(100vh - 13.94vw - 1rem - 61px);
    min-height: 250px;
    position: relative;
}
#containerBotoes div {
    width: 50vw;
}
#containerBotoes img {
    height: 40vw;
    min-height: 250px;
    position: absolute;
    max-height: 84%;
    top: 50%;
    transform: translate(0, -50%);
    transition: .5s;
    cursor: pointer;
}
#containerBotoes img:hover {
    height: 45vw;
    max-height: 94.5%;
}
#btnAI {
    right: 52%;
}
#btnDatabase {
    left: 52%;
}
.ctEscuro {
    background-color: rgb(18, 18, 18);
    padding: 15px !important;
    padding-left: 35px !important;
    clear: both;
}
.ctClaro {
    background-color: rgb(31, 31, 31);
    padding: 15px !important;
    padding-left: 35px !important;
    clear: both;
}
#containerAbaixo {
    position: relative;
}
#barraLateral {
    position: absolute;
    height: calc(100% - 30px);
    width: 2px;
    top: 15px;
    left: 20px;
}
#imgObjetivos {
    background: url('/static/img/objetivos.png') no-repeat;
    background-size: 100%;
    width: calc(50vw - 60px);
    height: calc(0.481 * (50vw - 60px));
    float: left;
}
#imgExperimentoConcentracao {
    background: url('/static/img/concentracao.png') no-repeat;
    background-size: 100%;
    width: calc(50vw - 60px);
    height: calc(0.591 * (50vw - 60px));
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}
#imgExperimentoEmocao {
    background: url('/static/img/emocao.png') no-repeat;
    background-size: 100%;
    width: calc(50vw - 60px);
    height: calc(0.624 * (50vw - 60px));
    float: left;
    margin: 10px 20px;
}
#containerEmocao {
    clear: both;
}
.true {
    color: chartreuse;
}
.false {
    color: crimson;
}
table td {
    border: 1px solid white;
    padding: 6px;
}
table tr:first-child td {
    border-top: 0;
  }
  table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }
#listaEmocao {
    margin-right: 20px;
    position: relative;
    left: 20px;
}
#containerInformacoesAdicionais {
    clear: both;
}
.foto {
    border-radius: 50%;
    width: 75%;
    margin-bottom: 15px;
    transition: .5s;
}
.foto:hover {
    width: 80%;
}
.linkedin {
    color: white !important;
    text-decoration: none !important;
}
.legendaFoto {
    transition: .5s;
}
.legendaFoto:hover {
    font-size: 2rem !important;
}
@media only screen and (max-width: 992px) {
    .legendaFoto {
        font-size: 6vw;
    }
    .legendaFoto:hover {
        font-size: 6.85vw !important;
    }
  }
#upload-file {
    background-color: #121212;
    border-radius: 10px;
    width: 600px;
    position: relative;
    left: 50%;
    top: 15px;
    transform: translate(-50%, 0);
    padding: 15px;
}
.imgIconForm {
    width: 50px;
}
.meio, .imgIconForm {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}