{% extends 'base.html' %}
{% block linktestes %}active{% endblock %}
{% block content %}
<form id="upload-file" method="post" enctype="multipart/form-data">
  <fieldset>
      <label for="file">Selecione o arquivo CSV</label>
      <input name="file" type="file">
  </fieldset>
  <fieldset>
      <button id="upload-file-btn" type="button">Upload</button>
  </fieldset>
</form>

  <div style="width: 80vw; height: 50px; position: relative; left: 10vw;">
    <canvas id="myChart" style="height: 100%;"></canvas>
  </div>


<script>

dados = [0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0,1,1,0,-1,-1,0]
labelsDados = []
for (var i = 0; i < dados.length; i++)
  labelsDados.push(i)
var ctx = document.getElementById('myChart').getContext('2d');
new Chart(ctx, {
  type: 'line',
  data: {
    labels: labelsDados,
    datasets: [{ 
        data: dados,
        label: 'Emoções',
        steppedLine: 'before',
        borderColor: "#BB86FC",
        fill: false
      }]
  },
  options: {
    scales: {
      xAxes: [{ticks: {fontColor: 'white'},    gridLines: {
      color: '#1F1F1F'
    }}],
      yAxes: [{ticks: {fontColor: 'white'}, 
      afterTickToLabelConversion : function(q){
        for(var tick in q.ticks){
            q.ticks[tick] = '';
        }
        q.ticks[0] = 'Positivo';
        q.ticks[5] = 'Neutro';
        q.ticks[10] = 'Negativo';
    }, 
    gridLines: {
      color: '#1F1F1F'
    }
    }]
    },
    legend: {
      display: false,
      fontColor: 'white'
    }
  }
});

/*var myLineChart = new Chart(ctx, {
    type: 'line',
    datasets: [{label: 'algumacoisapraversefunciona', data: [{
        x: 0,
        y: 0
    }, {
        x: 1,
        y: 1
    }, 
    {
        x: 2,
        y: 1
    },
    {
        x: 3,
        y: 1
    },
    {
        x: 4,
        y: 0
    },
    {
        x: 5,
        y: -1
    },
    {
        x: 6,
        y: -1
    },
    {
        x: 7,
        y: 0
    }],
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
}]});*/

</script>
{% endblock %}
